.chat-message-user{
  display: flex;
  justify-content: end;
  align-items: start;
  margin-top: 10px;
}
.chat-message-robot{
  display: flex;
  align-items: start;
  margin-top: 10px;
}
.chat-message-text{
  background-color: lightgray;
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  max-width: 300px;
}
.chat-image-profile{
  width: 45px;
}